{% extends "base.html" %}

{% block title %}
    Shop
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{{ url_for('admin.static', filename = 'admin.css')}}">
{% endblock %}

<!-- {% block script %}  -->
    
<!-- {% endblock %} -->

{% block content %}
    <header>
        <div class="links">
            <a class = "options" href = "/">HOME</a>
            <a class = "options" href = "/shop">SHOP</a>
            <a class = "options" href = "/cart">CART</a>
            <a class = "options" href = "/contacts">CONTACTS</a>
            <a class = "active" href = "/admin">ADMIN</a>
        </div>
        {% if current_user.is_authenticated %}
            <h1 class = "username">{{ current_user.name }}</h1>
        {% endif %}
    </header>

    <main>
        {% for product in products %}
            <div class = "product">
        
                <div class = "info"> 
                    <h1 id = "name-{{ product.id }}">{{ product.name }}</h1>
                    <button class="pencil-name" id = "{{ product.id }}">
                        <p class="name">✏</p>
                    </button>
                    <h2 id = "price-{{ product.id }}">{{ product.price }} грн</h2>
                    <button class="pencil-price" id = "{{ product.id }}">
                        <p class="price">✏</p>
                    </button>
                    <h4 id = "discount-{{ product.id }}">Знижка {{ product.discount }}%</h4>
                    <button class="pencil-discount" id = "{{ product.id }}">
                        <p class="discount">✏</p>
                    </button>
                    <h5>{{ product.price - (product.price / 100 * product.discount) }} грн</h5>

                    <button class = "buy" id = "{{ product.id }}">КУПИТИ</button>
                    <h3>Ємність:</h3>
  
                    <div class = "available">

                        <div class = "buttons">

                            {% for memory in ["32 Гб", "60 Гб", "128 Гб", "256 Гб", "512 Гб", "1 Тб"] %}
                                {% if product.description == memory %}
                                    <button class = "chosen">{{ product.description }}</button>
                                    <button class="pencil-description" id = "{{ product.id }}">
                                        <p class="description">✏</p>
                                    </button>
                                {% else %}
                                    <button class = "unchosen">{{ memory }}</button>
                                    <button class="pencil-description" id = "{{ product.id }}">
                                        <p class="description">✏</p>
                                    </button>
                                {% endif %}
                                
                            {% endfor %}
                            
                        </div> 

                        <p class="in-stock">Товар в наявності</p>
                        <img src="{{ url_for( 'shop.static', filename = 'images/tick.png' )}}">
                        
                         

                    </div>
                </div>
                <img src = "{{ url_for( 'shop.static', filename = 'images/' + product.image ) }}">
            </div>
            <script src = "{{ url_for('admin.static', filename = 'js/admin.js')}}" defer></script>
            <button class="pencil-image" id = "{{ product.id }}">
                <p class="image">✏</p>
            </button> 
            <form method="post" class="form-del">
                <button name = "del" value = "{{product.id}}">del</button>   
            </form>
        {% endfor %}
        <div class = 'modal-window' style = 'display: none;'>
            <form method="post" class="form">  
                <button name="change" type="submit" value="button-value" class="name-button">OK</button>
            </form>
        </div>
    </main>

{% endblock %}